@model ProductModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/AddNewItem.js"></script>
<link rel="stylesheet" href="/css/AddNewItem.css"/>

<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="AddNewProduct">
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Price"></label><br />
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="ShortDescription"></label><br />
        <input asp-for="ShortDescription" />
    </div>
    <div>

    </div>
    <div>
        <input type="file" asp-for="imageFile" accept="image/png, image/jpeg" />
        <span asp-validation-for="imageFile"></span>
    </div>
    <div class="category-dropdown">
        <input type="text" id="categoryInput" placeholder="Введіть назву категорії" />
        <div id="categoryDropdown" class="dropdown-content"></div>
    </div>
    <div id="selectedCategories"></div>
    <div>
        <input type="hidden" asp-for="CategoriesList" id="selectedCategoriesInput" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>



</form>
