

<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserList">Користувачі</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ItemList">Товари</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ActiveOrders">Активні замовлення</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="OrderHistory">Історія замовлень</a>


