

<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserList">Користувачі</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ItemList">Товари</a>
