@model Ensemble_Elegance.Models.LoginModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Сторінка авторизації</title>
    <link rel="stylesheet" type="text/css" href="/css/LoginPage.css">
</head>
<body>
    <div class="container">
        <h2>Авторизація</h2>
        <form id="loginForm"  method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Email" type="text" id="username" placeholder="Email" required>
            <span asp-validation-for="Email"></span>
            <input asp-for="Password" type="password" id="password" placeholder="Пароль" required>
            <label for="rememberMe">
                <input asp-for="RememberMe" type="checkbox" id="rememberMe"> Запам'ятати мене
            </label>
            <button type="submit">Увійти</button>
        </form>
    </div>

</body>
</html>