@model Ensemble_Elegance.Models.RegisterModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Сторінка реєстрації</title>
    <link rel="stylesheet" type="text/css" href="/css/RegistrationPage.css">
</head>
<body>
    <div class="container">
        <h2>Реєстрація</h2>
        <form asp-area="" method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label for="name">Ім'я:</label>
                <span asp-validation-for="userName"></span>
                <input asp-for="userName" type="text">
            </div>
            <div class="form-group">
                <label>Прізвище:</label>
                <span asp-validation-for="userSurname"></span>
                <input asp-for="userSurname" type="text">
            </div>
            <div class="form-group">
                <label>По-батькові:</label>
                <span asp-validation-for="userThirdName"></span>
                <input asp-for="userThirdName" type="text">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <span asp-validation-for="Email"></span>
                <input asp-for="Email" type="email" >
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <span asp-validation-for="password"></span>
                <input asp-for="password" type="password">
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Підтвердження паролю:</label>
                <span asp-validation-for="passwordConfirm"></span>
                <input asp-for="passwordConfirm" type="password">
            </div>
            <button type="submit">Зареєструватися</button>
        </form>
    </div>
</body>
</html>
