@model List<Ensemble_Elegance.Models.ProductModel>
<link rel="stylesheet" href="/css/Catalogue.css" />

<body>
    <div class="filter-list">

    </div>
    <div class="product-list">
        @foreach (var product in Model)
        {
            <product-card product="@product"></product-card>
        }
    </div>

</body>

