@model List<ProductModel>
@{
    var visitedproducts = ViewBag.visitedProducts;
}
<head>
    <link rel="stylesheet" href="/css/Product.css" />
    <link rel="stylesheet" href="/css/Index.css" />


</head>
@{

}

<body>

    <div class="product-list">
        @if(visitedproducts != null)
        {
            foreach(var product in visitedproducts)
            {
                <product-card product="@product"></product-card>
            }
        }
    </div>




</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/Index.js"></script>