
.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}

    .order-item .order-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .order-item .order-details .order-info {
            flex-grow: 1;
        }

        .order-item .order-details .order-actions {
            display: flex;
            align-items: center;
        }

    .order-item .order-actions button {
        margin-left: 10px;
    }
