.empty-cart-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

    .table th,
    .table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.product-name-cell,
.product-price-cell,
.product-quantity-cell,
.product-sum-cell {
    text-align: center;
    vertical-align: middle;
}

.total {
    font-weight: bold;
}

.plus-minus-button {
    border-radius: 50%;
    padding: 0.25em 0.8em;
    border: none;
    cursor: pointer;
    background-color: rgb(139, 224, 100);
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .plus-minus-button:before,
    .plus-minus-button:after {
        content: "";
        display: block;
        width: 6px;
        height: 2px;
        background-color: #fff;
    }

    .plus-minus-button:before {
        margin-bottom: 3px;
    }

    .plus-minus-button:after {
        margin-top: 3px;
    }

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity {
    margin: 0;
    padding: 0 10px;
    width: 30%;
    max-width: 40px;
    border: none;
    text-align: center;
}
