.product-description {
    width: 330px;
    word-wrap: break-word;
}

.card-img {
    max-width: 120px;
    height: 100%;
}
/* Загальні стилі для таблиці */
.table {
    width: 100%;
    border-collapse: collapse;
}

    /* Стилі для заголовків стовпців */
    .table thead th {
        background-color: #c5e1a5;
        color: #333;
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }

    /* Стилі для рядків таблиці */
    .table tbody tr {
        border-bottom: 1px solid #ddd;
    }

        /* Стилі для непарних рядків таблиці */
        .table tbody tr:nth-child(odd) {
            background-color: #e8f5e9;
        }

        /* Стилі для парних рядків таблиці */
        .table tbody tr:nth-child(even) {
            background-color: #c8e6c9;
        }

    /* Стилі для ячейок таблиці */
    .table td {
        padding: 10px;
        vertical-align: middle;
        text-align: left;
    }

        /* Стилі для кнопок редагування та видалення */
        .table td a {
            margin-right: 5px;
            color: #333;
            text-decoration: none;
        }

/* Анімація для кнопки видалення */
.delete-button {
    position: relative;
}

    .delete-button .confirmation {
        position: absolute;
        top: -30px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .delete-button:hover .confirmation {
        opacity: 1;
        visibility: visible;
    }
